= hidden_field_tag :step, 3

.form_section
  %h2.form_section_header Business Media
  .form_fields

    = f.fields_for :business_card do |business_card_form|
      %fieldset
        %legend= business_card_form.label :attachment, t('labels.business_card')
        - if @business.business_card.attachment.present?
          .thumbnail= image_tag  @business.business_card.attachment.url(:thumb)
        = business_card_form.file_field :attachment
        = business_card_form.hidden_field :kind

    = f.fields_for :business_logo do |business_logo_form|
      %fieldset
        %legend= business_logo_form.label :attachment, t('labels.business_logo')
        - if @business.business_logo.attachment.present?
          .thumbnail= image_tag  @business.business_logo.attachment.url(:thumb)
        = business_logo_form.file_field :attachment
        = business_logo_form.hidden_field :kind


    = f.fields_for :web_banner do |web_banner_form|
      %fieldset
        %legend= web_banner_form.label :attachment, t('labels.web_banner')
        - if @business.web_banner.attachment.present?
          .thumbnail= image_tag  @business.web_banner.attachment.url(:thumb)
        = web_banner_form.file_field :attachment
        = web_banner_form.hidden_field :kind

        %br
        %br
        %p
          = f.check_box :use_business_card_for_web_banner
          = f.label :use_business_card_for_web_banner, t('labels.use_business_card_for_web_banner')

    %p
      = f.label :promotional_info_additional_notes, t('labels.additional_notes')
      = f.text_area :promotional_info_additional_notes, :class => 'simple'

