.form_section
  %h2 Business information
  .form_fields
    .group
      %p
        = form.label :name, t('name_of_business')
        = form.text_field :name

      = form.fields_for :address do |address_form|
        %p
          = address_form.label :address, t('address')
          = address_form.text_field :address

        %p
          = address_form.label :city, t('city')
          = address_form.text_field :city
        
        %p
          = address_form.label :state, t('state')
          = address_form.text_field :state
        
        %p
          = address_form.label :zip, t('zip')
          = address_form.text_field :zip
        
        %p
          = form.label :contact_name, t('contact_name')
          = form.text_field :contact_name
        
        %p
          = form.label :contact_phone, t('contact_phone')
          = form.text_field :contact_phone
        
        %p
          = form.label :contact_email, t('contact_email')
          = form.text_field :contact_email
        
        %p
          = form.label :contact_email_confirmation, t('contact_email_confirmation')
          = form.text_field :contact_email_confirmation
        
        %p
          = form.label :fax, t('fax_number')
          = form.text_field :fax

.form_section
  %h2 Billing Address
  .form_fields
    .group
      = form.fields_for :billing_address do |billing_address_form|
        %p
          = billing_address_form.label :address, t('address')
      
          = billing_address_form.text_field :address

        %p
          = billing_address_form.label :city, t('city')
      
          = billing_address_form.text_field :city
        %p
          = billing_address_form.label :state, t('state')
      
          = billing_address_form.text_field :state

        %p
          = billing_address_form.label :address, t('country')
      
          = billing_address_form.country_select :country

        %p
          = billing_address_form.label :address, t('zip')
      
          = billing_address_form.text_field :zip

