.form_section
  %h2 Business information
  .form_fields
    .group
      = form.input :name, label: t('name_of_business')          	
      = form.fields_for :address do |address_form|
        = address_form.input :address, label: t('address'), required: true      
        = address_form.input :city, label: t('city'), required: true              
        = address_form.input :state, label: t('state'), required: true            
        = address_form.input :zip, label: t('zip'), required: true              
      = form.input :contact_name, label: t('contact_name'), required: true                    
      = form.input :contact_phone, label: t('contact_phone'), required: true
      = form.input :contact_email, label: t('contact_email'), required: true
      = form.input :contact_email_confirmation, label: t('contact_email_confirmation'), required: true
      = form.input :fax, label: t('fax_number'), required: true                            

.form_section
  %h2 Billing Address
  .form_fields
    .group
      = form.fields_for :billing_address do |billing_address_form|
        = billing_address_form.input :address, label: t('address'), required: true      
        = billing_address_form.input :city, label: t('city'), required: true              
        = billing_address_form.input :state, label: t('state'), required: true            
        = billing_address_form.input :zip, label: t('zip'), required: true              
        = billing_address_form.country_select :country, [["United States", 'US']]        

