= hidden_field_tag :step, 4

.form_section
  %h2.form_section_header Promotional Media
  .form_fields

    = f.fields_for :promotional_media_mp3 do |promotional_media_mp3_form|

      %fieldset
        %legend= promotional_media_mp3_form.label :attachment, t('labels.promotional_media_mp3')
        - if @business.promotional_media_mp3.attachment.present?
          %audio{ controls: "controls", src: @business.promotional_media_mp3.attachment.url, type: "audio/mp3" }
            %p= link_to @business.promotional_media_mp3.attachment.original_filename, @business.promotional_media_mp3.attachment.url
          %p== If the audio player, above, does not work in your browser you can download the audio file #{link_to 'here', @business.promotional_media_mp3.attachment.original_filename}.
        = promotional_media_mp3_form.file_field :attachment
        = promotional_media_mp3_form.hidden_field :kind


      = f.fields_for :promotional_media_upload do |promotional_media_upload_form|
        %fieldset
          %legend= promotional_media_upload_form.label :attachment, t('labels.promotional_media_upload')
          - if @business.promotional_media_upload.attachment.present?
            .thumbnail=  link_to "#{@business.promotional_media_upload.attachment.original_filename} (Dowload)", @business.promotional_media_upload.attachment.url
          = promotional_media_upload_form.file_field :attachment
          = promotional_media_upload_form.hidden_field :kind


      %p
        = f.label :promotional_media_text
        = f.text_area :promotional_media_text

      %p
        = f.label :promotional_media_additional_notes, t('labels.additional_notes')
        = f.text_area :promotional_media_additional_notes, :class => 'simple'
