= render :partial => 'steps'

.form_section
  %h2 Promotional Media

  = form_for setup_business(@business), :url => user_business_path(current_user, @business), :html => { :multipart => true } do |f|
    
    .form_fields
  
      = f.fields_for :promotional_media_mp3 do |promotional_media_mp3_form|
  
        %fieldset
          %legend
            = t('promotional_media_mp3')
          = promotional_media_mp3_form.file_field :attachment
          = promotional_media_mp3_form.hidden_field :kind

          - if @business.promotional_media_mp3.present?
            %br
            =  link_to @business.promotional_media_mp3.attachment.original_filename, @business.promotional_media_mp3.attachment.url
          
    
        = f.fields_for :promotional_media_upload do |promotional_media_upload_form|
          %fieldset
            %legend
              = t('promotional_media_upload')
            = promotional_media_upload_form.file_field :attachment
            = promotional_media_upload_form.hidden_field :kind

            - if @business.promotional_media_upload.present?
              %br
              =  link_to @business.promotional_media_upload.attachment.original_filename, @business.promotional_media_upload.attachment.url

        %p
          = f.label :promotional_media_text
          = f.text_area :promotional_media_text
        
        %p
          = f.label :promotional_media_additional_notes, t('additional_notes')
          = f.text_area :promotional_media_additional_notes, :class => 'simple' 

        = render :partial => 'shared/form_submit', :locals => { :text => t('submit') }
