= render :partial => 'steps'
= simple_form_for @business, :url => user_business_path(current_user, @business), :method => :put do |f|
  = render "shared/error_messages", :target => @business
  = hidden_field_tag :step, 1
  = render :partial => "payment_form", :object => f
  = render :partial => 'shared/form_submit', :locals => { :text => t('submit') }
