= render("shared/error_messages", target: @business) if @business
= simple_form_for :credit_card, :url => user_business_payment_path(@user, @business) do |f|
  .form_section
    %h2.form_section_header Payment Information
    .form_fields
      = hidden_field_tag :step, 2
      = f.input :name, label: I18n.t('labels.credit_card_name')
      = f.input :number, label: I18n.t('labels.credit_card_number')
      = f.input :cvc, input_html: { maxlength: 4 }, label: I18n.t('labels.credit_card_cvc')

      %p.input.select.required
      = f.input :exp_month, as: :select, :collection => 1..12, prompt: 'MM', label: I18n.t('labels.credit_card_exp'), wrapper: false
      = f.input :exp_year, as: :select, :collection => Date.today.year..10.years.from_now.year, prompt: 'YYYY', label: false, wrapper: false

      %p.red
        * Your credit card will be charged the Business Membership Fee of
        = number_to_currency ConfigVariable.find_by_name('Price').try(:value)

  = render partial: 'shared/form_submit', locals: { text: 'Submit Payment' }

