%h3 Radio Archives

%p
  = paginate @archives

%ul.radio_archives
  - @archives.each do |archive|
    %li
      %h4=archive.title
      %p= archive.guest
      %p= archive.date
      %p= link_to 'Download', archive.attached_file.attachment.url if archive.attached_file
      - if !archive.embeded_links.empty?
        %fieldset.links
          %legend Books &amp; Links
          %ul
            - archive.embeded_links.each do |embeded_link|
              %li= embeded_link.body.html_safe

= paginate @archives
