<p id="notice"><%= notice %></p>

<p>
  <strong>SitterformID:</strong>
  <%= @sitterform.id %>
</p>
<p>
  <strong>UserID:</strong>
  <%= @sitterform.user_id %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @sitterform.phone %>
</p>
<p>
  <strong>Alternate Email:</strong>
  <%= @sitterform.alt_email %>
</p>
<p>
  <strong>Website:</strong>
  <%= @sitterform.website %>
</p>
<p>
  <strong>Facebook:</strong>
  <%= @sitterform.facebook %>
</p>
<p>
  <strong>Pinterest:</strong>
  <%= @sitterform.pinterest %>
</p>
<p>
  <strong>Instagram:</strong>
  <%= @sitterform.instagram %>
</p>
<p>
  <strong>Twitter:</strong>
  <%= @sitterform.twitter %>
</p>
<p>
  <strong>Youtube:</strong>
  <%= @sitterform.youtube %>
</p>
<p>
  <strong>Blog:</strong>
  <%= @sitterform.blog %>
</p>
<p>
  <strong>Related Contact Info:</strong>
  <%= @sitterform.related_contact_info %>
</p>
<p>
  <strong>Twitter:</strong>
  <%= @sitterform.twitter %>
</p>
<p>
  <strong>Been to Medium:</strong>
  <%= @sitterform.been_to_medium %>
</p>
<p>
  <strong>Consider yourself:</strong>
  <%= @sitterform.consider_yourself %>
</p>
<p>
  <strong>Lost loved one:</strong>
  <%= @sitterform.lost_loved_one %>
</p>

    <% for t in @sitterform.known_deads %>
      <%= t.name %> <%= t.relationship.name %> </br>
    <%end%>

<p>
  <strong>Signature:</strong>
  <%= @sitterform.signature %>
</p>
<%= link_to 'Edit', edit_sitterform_path(@sitterform) %> |
<%= link_to 'Back', sitterforms_path %>
