.page_section
  %h2.page_section_header Personal Information
  .section_content
    %ul
      %li= "Membership #: #{@user.membership_number}"
      %li= @user.full_name
      %li= @user.email
      - if @user.home_phone.present?
        %li= @user.home_phone
      - if @user.cell_phone.present?
        %li= @user.cell_phone
      - if @user.work_phone.present?
        %li= @user.work_phone
      %li= @user.address.address
      %li= [@user.address.city, @user.address.state].join(', ')  + ' ' + @user.address.zip

    %ul.profile_edit_links
      %li= link_to 'Edit Personal Information', edit_user_registration_path
      %li= link_to 'Change Password', user_edit_password_path(@user)

-if @family_members.present?
  .page_section
    %h2.page_section_header Family Members
    .page_section_content
      %ul
        -@family_members.each do |member|
          %li= member.name_and_relationship

- unless Preference.profile_preferences.empty?
  .form_section
    %h2.form_section_header Preferences
    .form_fields
      - Preference.profile_preferences.each do |p|
        %p.clear
          = check_box_tag "user[p_ids][]", p.id, @user.profile_preferences.include?(p), disabled: true
          = p.name
  .form_section
    %h2.form_section_header Free Subscription Options
    .form_fields
      - Preference.subscription_preferences.each do |s|
        %p.clear
          = radio_button_tag "user[s_ids][]", s.id, @user.subscription_preferences.include?(s), disabled: true
          = s.name
        %p.clear

-if @business.present?
  .page_section
    %h2.form_section_header Business Details
    .section_content
      %h3 Business Address:
      %ul
        %li= @business.name
        %li= @business.address.address
        %li= [@business.address.city, @business.address.state].join(', ') + ' '  + @business.address.zip
      %h3 Business Contact:
      %ul
        %li= @business.contact_name
        %li= @business.contact_email
        %li= @business.contact_phone
        %li= @business.fax

      %h3 Billing Address:
      %ul
        %li= @business.billing_address.address
        %li= [@business.billing_address.city, @business.billing_address.state].join(', ') + ' ' + @business.billing_address.zip

      %p= link_to 'Edit Business Details', edit_user_business_path(@user,@business,step: 1)
  .page_section
    %h2.form_section_header Business Payment
    .section_content
      %p= link_to 'Business Payment', user_business_payment_path(@user,@business,step: 1)
  .page_section
    %h2.form_section_header Business Media
    .section_content
      %fieldset
        %legend Business Card
        - if @business.business_card.present?
          = image_tag @business.business_card.attachment.url(:thumb)
        - else
          = link_to 'Upload', edit_user_business_path(@user,@business,step: 3)

      %fieldset
        %legend Business logo
        - if @business.business_logo.present?
          = image_tag  @business.business_logo.attachment.url(:thumb)
        - else
          = link_to 'Upload', edit_user_business_path(@user,@business,step: 3)

      %fieldset
        %legend Web banner
        - if @business.web_banner.present?
          = image_tag  @business.web_banner.attachment.url(:thumb)
        - else
          %p Use my business card.

      %fieldset
        %legend Additional notes:
        %p= @business.promotional_info_additional_notes

      %p= link_to 'Edit Business Media', edit_user_business_path(@user,@business,step: 3)

  .form_section
    %h2.form_section_header Promotional Media
    .section_content

      %fieldset
        %legend Mp3 file:
        - if @business.promotional_media_mp3.present?
          %audio{ controls: "controls", src: @business.promotional_media_mp3.attachment.url, type: "audio/mp3" }
            %p Your browser does not support the audio tag.
          %p== If the audio player, above, does not work in your browser you can download the audio file #{link_to 'here', @business.promotional_media_mp3.attachment.url}.
        - else
          %p= link_to 'Upload', edit_user_business_path(@user,@business,step: 4)

      %fieldset
        %legend Text file:
        - if @business.promotional_media_upload.present?
          =link_to @business.promotional_media_upload.attachment.original_filename, @business.promotional_media_upload.attachment.url, target: '_blank'
        - else
          %p= link_to 'Upload', edit_user_business_path(@user,@business,step: 4)

      %fieldset
        %legend Promotional Media Text
        %p= @business.promotional_media_text

      %fieldset
        %legend Promotional Media Notes
        %p= @business.promotional_media_additional_notes

      %p= link_to 'Edit Promotional Media', edit_user_business_path(@user,@business,step: 4)

