.form_section
  %h2.form_section_header Login Info
  .form_fields
    .group
      = form.input :email, label: t('labels.email'), required: true
      = form.input :email_confirmation, label: t('labels.email_confirmation'), required: true
    - if @user.new_record?
      .group
        = form.input :password, label: t('labels.password'), required: true
        = form.input :password_confirmation, label: t('labels.password_confirmation'), required: true, :class => 'password'
        %p.red Password minimum 6 characters
        %br
        %p.red ATTENTION
        %p Before registering as a New Member, please be sure that this is the first time you are registering. Duplicate memberships create unnecessary expenses for the foundation. If you are unsure about your membership status, try logging in using all email addresses that you may have used in the past. 

.form_section
  %h2.form_section_header Basic Info
  .form_fields
    .group
      = form.input :first_name, label: t('labels.first_name'), required: true
      = form.input :middle_name, label: t('labels.middle_name')
      = form.input :last_name, label: t('labels.last_name'), required: true
    .group
      = form.input :cell_phone, label: t('labels.cell_phone')
      = form.input :home_phone, label: t('labels.home_phone')
      = form.input :work_phone, label: t('labels.work_phone')
    %br
    %p.red PLEASE BE CAREFUL
    %p to accurately enter your address fields as returned mail depletes vital foundation funds.
    %br
    = form.fields_for :address do |address_form|
      .group
        = address_form.input :address, label: t('labels.address'), required: true
        = address_form.input :city, label: t('labels.city'), required: true
        = address_form.input :state, label: t('labels.state'), required: true
        = address_form.input :zip, label: t('labels.zip'), required: true
        = address_form.input :country, priority: ["United States"], input_html: { class: :country }




.form_section
  %h2.form_section_header Family Members
  .form_fields
    = form.fields_for :family_members do |family_member_form|
      .group
        = family_member_form.input :first_name, label: t('labels.first_name')
        = family_member_form.input :last_name, label: t('labels.last_name')
        = family_member_form.input :relationship, label: t('labels.relationship')

- unless Preference.profile_preferences.empty?
  .form_section
    %h2.form_section_header Profile Preferences
    .form_fields
      - Preference.profile_preferences.each do |profile_preference|
        %p.clear
          = check_box_tag "user[profile_preference_ids][]", profile_preference.id, @user.profile_preferences.include?(profile_preference)
          = profile_preference.name
        %p.clear
  .form_section
    %h2.form_section_header Free Subscription Options
    .form_fields
      - Preference.subscription_preferences.each do |s_preference|
        %p.clear
          = radio_button_tag "user[subscription_preference_ids][]", s_preference.id, (@user.subscription_preferences.include?(s_preference) || s_preference.id==1)
          = s_preference.name
        %p.clear


