.form_section
  %h2 Login Info
  .form_fields
    .group
      = form.input :email, label: t('labels.email'), required: true
      = form.input :email_confirmation, label: t('labels.email_confirmation'), required: true
    - if @user.new_record?
      .group
        = form.input :password, label: t('labels.password'), required: true
        = form.input :password_confirmation, label: t('labels.password_confirmation'), required: true, :class => 'password'
        %p.red * Minimum 6 characters

.form_section
  %h2 Basic Info
  .form_fields
    .group
      = form.input :first_name, label: t('labels.first_name'), required: true
      = form.input :middle_name, label: t('labels.middle_name')
      = form.input :last_name, label: t('labels.last_name'), required: true
    .group
      = form.input :cell_phone, label: t('labels.cell_phone')
      = form.input :home_phone, label: t('labels.home_phone')
      = form.input :work_phone, label: t('labels.work_phone')

    = form.fields_for :address do |address_form|
      .group
        = address_form.input :address, label: t('labels.address'), required: true
        = address_form.input :city, label: t('labels.city'), required: true
      .group
        = address_form.input :state, label: t('labels.state'), required: true
        = address_form.input :zip, label: t('labels.zip'), required: true

    %p.red * Please be careful to accurately enter your address fields as returned mail depletes vital foundation funds.

.form_section
  %h2 Family Members
  .form_fields
    = form.fields_for :family_members do |family_member_form|
      .group
        = family_member_form.input :first_name, label: t('labels.first_name')
        = family_member_form.input :last_name, label: t('labels.last_name')
        = family_member_form.input :relationship, label: t('labels.relationship')

- unless Preference.profile_preferences.empty?
  .form_section
    %h2 Preferences
    .form_fields
      - Preference.profile_preferences.each do |profile_preference|
        %p.clear
          = check_box_tag "user[profile_preference_ids][]", profile_preference.id, @user.profile_preferences.include?(profile_preference)
          = profile_preference.name

