.page_section
  %h2 Personal Information
  .section_content
    %p= @user.full_name
    %p= @user.email
    %p= @user.home_phone
    %p= @user.cell_phone
    %p= @user.work_phone
    %p= @user.address.address 
    %p= [@user.address.city, @user.address.state].join(', ')  + ' ' + @user.address.zip 
    

-if @user.family_members.present?
  .page_section
    %h2 Family Members
    .section_content
      %table
        %tr
          %th
            First name
          %th
            Last name
          %th 
            Relationship
        -@user.family_members.each do |member|
          %tr
            %td
              = member.first_name
            %td
              = member.last_name
            %td
              = member.relationship    

-if @user.is_business?
  .page_section
    %h2 Bussines Details 
    .section_content
      %p= @user.business.name 
      %p
        Contact name:
        = @user.business.contact_name 
      %p
        Contact Email:
        = @user.business.contact_email     
      %p
        Contact phone:
        = @user.business.contact_phone     
      %p= @user.business.address.address
      %p= [@user.business.address.city, @user.business.address.state].join(', ') + ' '  + @user.business.address.zip
      %p
        Fax:
        = @user.business.fax
      

.page_section
  %h2 Billing address   
  .section_content
    %p= @user.business.billing_address.address
    %p= [@user.business.billing_address.city, @user.business.billing_address.state].join(', ') + ' ' + @user.business.billing_address.zip      
    
    - if @user.business.business_card.present?
      %fieldset
        %legend Bussines Card
        = image_tag  @user.business.business_card.attachment.url
    
    - if @user.business.business_logo.present?  
      %fieldset
        %legend Bussines logo
        = image_tag  @user.business.business_logo.attachment.url
    
    - if @user.business.web_banner.present?  
      %fieldset
        %legend Web banner
        = image_tag  @user.business.web_banner.attachment.url
    
    %p 
      Additional notes:
      = @user.business.promotional_info_additional_notes
    
    - if @user.business.web_banner.present?  
      %fieldset
        %legend Mp3 file:
        = image_tag  @user.business.promotional_media_mp3.attachment.url
    
    - if @user.business.promotional_media_upload.present?  
      %fieldset
        %legend Text file:
        = @user.business.promotional_media_mp3.attachment.original_filename
    
    %p
      = @user.business.promotional_media_text    

    %hr

    %p
      = @user.business.promotional_media_additional_notes


= button_to 'Confirm' , '/users/confirm',:class => 'submit',:method => :post
|
= link_to 'Edit', edit_user_path(@user)
= image_tag "progress.gif", :class => :progress_spinner

