.page_section
  %h2 Login Information
  .section_content
    %ul
      %li
        %span Login:
        =@user.email
        
    %p= link_to 'Edit Login Details', edit_user_password_path

.page_section
  %h2 Personal Information
  .section_content
    %ul
      %li= @user.full_name
      %li= @user.home_phone
      %li= @user.cell_phone
      %li= @user.work_phone
      %li= @user.address.address 
      %li= [@user.address.city, @user.address.state].join(', ')  + ' ' + @user.address.zip 
    
    %p= link_to 'Edit Personal Information'
    
-if @user.family_members.present?
  .page_section
    %h2 Family Members
    .section_content
      %ul
      %li
      %table
        %tr
          %th
            First name
          %th
            Last name
          %th 
            Relationship
        -@user.family_members.each do |member|
          %tr
            %td
              = member.first_name
            %td
              = member.last_name
            %td
              = member.relationship    

-if @user.is_business?
  .page_section
    %h2 Business Details 
    .section_content
    
      %h3 Business Address:
      %ul
        %li= @user.business.name 
        %li= @user.business.address.address
        %li= [@user.business.address.city, @user.business.address.state].join(', ') + ' '  + @user.business.address.zip
        
      %h3 Business Contact:
      %ul
        %li= @user.business.contact_name 
        %li= @user.business.contact_email     
        %li= @user.business.contact_phone
        %li= @user.business.fax
      
      %h3 Billing Address:       
      %ul
        %li= @user.business.billing_address.address
        %li= [@user.business.billing_address.city, @user.business.billing_address.state].join(', ') + ' ' + @user.business.billing_address.zip      
  
      %p= link_to 'Edit Business Details', edit_businesses_path(step: 1)
    
.page_section
  %h2 Business Media
  .section_content
    - if @user.business.business_card.attachment.present?
      %fieldset
        %legend Bussines Card
        = image_tag  @user.business.business_card.attachment.url
    
    - if @user.business.business_logo.attachment.present?  
      %fieldset
        %legend Bussines logo
        = image_tag  @user.business.business_logo.attachment.url
  
    %fieldset
      %legend Web banner
      - if @user.business.web_banner.attachment.present?  
        = image_tag  @user.business.web_banner.attachment.url
      - else
        %p Use my business card.
    
    %p= link_to 'Edit Business Media'    
    
    - if @user.business.promotional_info_additional_notes.present?
      %p 
        Additional notes:
        = @user.business.promotional_info_additional_notes

.page_section
  %h2 Promotional Media
  .section_content
    
    - if @user.business.promotional_media_mp3.attachment.present?  
      %fieldset
        %legend Mp3 file:
        %audio{ controls: "controls" }
          %source{ src: @user.business.promotional_media_mp3.attachment.url, type: "audio/mp3" }
          %p Your browser does not support the audio tag.
    
    - if @user.business.promotional_media_upload.attachment.present?  
      %fieldset
        %legend Text file:
        =link_to @user.business.promotional_media_upload.attachment.original_filename, @user.business.promotional_media_upload.attachment.url, target: '_blank'

    - if @user.business.promotional_media_text    
      %fieldset
        %legend Promotional Media Text
        %p= @user.business.promotional_media_text    
    
    - if @user.business.promotional_media_additional_notes
      %fieldset
        %legend Promotional Media Notes
        %p= @user.business.promotional_media_additional_notes
      
    %p= link_to 'Edit Promotional Media'    

= link_to button_tag('Confirm', class: :skip), user_confirm_path
= link_to button_tag('Edit', class: :skip), edit_user_path(@user)
= image_tag "progress.gif", :class => :progress_spinner

