.row.user-show
  .col
    %h2= t('.title')
    .card.personal-information
      .card-header
        Personal Information
        = link_to fa_icon('pencil'), edit_user_registration_path, class: 'edit-pencil'
      %ul.list-group.list-group-flush
        %li.list-group-item.name
          - if current_user.full_name.present?
            = current_user.full_name
          - else
            %span.text-muted Name...
        %li.list-group-item.email= current_user.email
        %li.list-group-item= current_user.home_phone
        %li.list-group-item= current_user.cell_phone
        %li.list-group-item= current_user.work_phone
        - if current_user.address.present?
          %li.list-group-item= current_user.address.address
          %li.list-group-item= [current_user.address.city, current_user.address.state].join(', ')  + ' ' + current_user.address.zip
