.row.user-show
  .col
    %h2 Personal Information
    %ul
      %li
        = fa_icon 'envelope'
        %strong= current_user.email
      %li= current_user.full_name
      %li= current_user.home_phone
      %li= current_user.cell_phone
      %li= current_user.work_phone
      - if current_user.address.present?
        %li= current_user.address.address
        %li= [current_user.address.city, current_user.address.state].join(', ')  + ' ' + current_user.address.zip
