
<p>
  <strong>User Name:</strong>
  <%= @mediumform.user.full_name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @mediumform.professional_phone_number %>
</p>
<p>
  <strong>Alternate Email:</strong>
  <%= @mediumform.personal_email %>
</p>
<p>
  <strong>Website:</strong>
  <%= @mediumform.website %>
</p>
<p>
  <strong>Facebook:</strong>
  <%= @mediumform.facebook %>
</p>
<p>
  <strong>Pinterest:</strong>
  <%= @mediumform.pinterest %>
</p>
<p>
  <strong>Instagram:</strong>
  <%= @mediumform.instagram %>
</p>
<p>
  <strong>Twitter:</strong>
  <%= @mediumform.twitter %>
</p>
<p>
  <strong>Youtube:</strong>
  <%= @mediumform.youtube %>
</p>
<p>
  <strong>Blog:</strong>
  <%= @mediumform.blog %>
</p>
<p>
  <strong>Signature:</strong>
  <%= @mediumform.signature %>
</p>

