%ul#partners
  %li
    %form{ action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top" }
      %input{ type: "hidden", name: "cmd", value: "_s-xclick" }
      %input{ type: "hidden", name: "hosted_button_id", value: "9ZL9Q8D353ZWA"}
      = button_tag 'Make a Donation', class: :fff_button

  %li
    = link_to image_tag('sign-registry.gif'), 'http://thesignregistry.com/', :target => '_blank'

  %li
    = t('layout.support_us_by_shopping')

  %li
    = link_to image_tag('igive.gif'), 'http://www.igive.com/welcome/warmwelcome3.cfm?c=43517',:target => '_blank'

  %li
    = link_to image_tag('amazon.gif'), 'http://www.amazon.com/?&tag=wwwforeverfam-20&camp=211041&creative=374001&linkCode=qs1&adid=0HB3V5GYRTKAGAEYQQE2&', :target => '_blank'

  %li
    %p= t('layout.find_us_on')
    = link_to image_tag('facebook.png'), 'http://www.facebook.com/pages/Forever-Family-Foundation/351375650093',:target => '_blank'

    = link_to image_tag('myspace.png'), 'http://www.myspace.com/foreverfamilyfoundation', :target => '_blank'

    = link_to image_tag('twitter.png'), 'https://twitter.com/FFFAfterlife', :target => '_blank'

  %li
    #google_translate_element
    :javascript
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }

    %script{:type => "text/javascript", :src => "http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"}


  %li
    %p.small Forever Family Foundation is a not for profit all volunteer 501(c)3 organization #EIN 20-0942333 and is registered with the NYS Charities Bureau #20-72-58.  Your contributions are tax deductible to the extent provided by law.
