%ul#partners
  %li
    %form{ action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top" }
      %input{ type: "hidden", name: "cmd", value: "_s-xclick" }
      %input{ type: "hidden", name: "hosted_button_id", value: "9ZL9Q8D353ZWA"}
      = button_tag 'Make a Donation', class: :fff_button

  %li
    = link_to image_tag('sign-registry.gif'), 'http://thesignregistry.com/', :target => '_blank'

  %li
    = t('layout.support_us_by_shopping')

  %li
    = link_to image_tag('igive.gif'), 'http://www.igive.com/welcome/warmwelcome3.cfm?c=43517',:target => '_blank'

  %li
    = link_to image_tag('amazon.gif'), 'http://www.amazon.com/?&tag=wwwforeverfam-20&camp=211041&creative=374001&linkCode=qs1&adid=0HB3V5GYRTKAGAEYQQE2&', :target => '_blank'

  %li
    %p= t('layout.find_us_on')
    = link_to image_tag('facebook.png'), 'http://www.facebook.com/pages/Forever-Family-Foundation/351375650093',:target => '_blank'

    = link_to image_tag('pinterest.png'), 'https://www.pinterest.com/fffafterlife/', :target => '_blank'

    = link_to image_tag('linkedin.png'), 'https://www.linkedin.com/company/forever-family-foundation', :target => '_blank'

    = link_to image_tag('youtube.png'), 'https://www.youtube.com/user/AfterlifeEducation', :target => '_blank'

    <a href="https://twitter.com/FFFAfterlife" class="twitter-follow-button" data-show-count="false" data-size="large" rel="nofollow">Follow @FFFAfterlife</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  %li
    #google_translate_element
    :javascript
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }

    %script{:type => "text/javascript", :src => "http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"}


  %li
    %p.small.narrow= I18n.t('footers.501c3_notice')
    %p.small_blue= I18n.t('footers.fraud_warning')
