%ul#partners
  %li 
    = link_to image_tag('donation.gif'), 'https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=FhvdI-nfHML0i_WPb67QsxQEaPG9VHLXFZzXgf3FK-vTpMRW_t6GTU88JJe&dispatch=5885d80a13c0db1f8e263663d3faee8deaa77efc63a6eb429928d42bdf5d9d2c', :target => '_blank'

  %li 
    = link_to image_tag('sign-registry.gif'), 'http://thesignregistry.com/', :target => '_blank'

  %li 
    %p= t('layout.support_us_by_shopping')
    = link_to image_tag('igive.gif'), 'http://www.igive.com/welcome/warmwelcome3.cfm?c=43517',:target => '_blank'
    
    %br
    = link_to image_tag('amazon.gif'), 'http://www.amazon.com/?&tag=wwwforeverfam-20&camp=211041&creative=374001&linkCode=qs1&adid=0HB3V5GYRTKAGAEYQQE2&', :target => '_blank'

    
  %li
    %p= t('layout.find_us_on')  
    = link_to image_tag('facebook.png'), 'http://www.facebook.com/pages/Forever-Family-Foundation/351375650093',:target => '_blank'
    
    = link_to image_tag('myspace.png'), 'http://www.myspace.com/foreverfamilyfoundation', :target => '_blank'
    
    = link_to image_tag('twitter.png'), 'https://twitter.com/FFFAfterlife', :target => '_blank'
    
    
    

  %li
    <script type="text/javascript" charset="UTF-8" language="JavaScript1.2" src="http://uk.babelfish.yahoo.com/free_trans_service/babelfish2.js?from_lang=en&region=us"></script>
  