
= javascript_include_tag 'recommended_books.js'

- RecommendedBookCategory.all.select do |s|
  .page_section
    %h2.page_section_header= s.name 
    - RecommendedBookGroup.where("recommended_book_category_id = ?", s.id).select do |recc_group|
      .page_section_content
        - RecommendedBook.where("id = ?", recc_group.recommended_book_id).select do |recc_book|
          .amazonauthor= raw(recc_book.amazon_link)
          %p.amazonauthor= recc_book.author
          .amazonbutton
          %p.shrinkwrap= "Available on Amazon (please choose appropriate currency if available) "
          %br
          %p.shrinkwrap= "USD:   "
          = raw(recc_book.amazon_link) if !recc_book.amazon_link.blank?
          %br
          %p.shrinkwrap= "GBP: " if !recc_book.uk_amazon_link.blank?
          = raw(recc_book.uk_amazon_link) if !recc_book.uk_amazon_link.blank?
          %br
          %p.shrinkwrap= "CAD: " if !recc_book.cad_amazon_link.blank?
          = raw(recc_book.cad_amazon_link) if !recc_book.cad_amazon_link.blank?


