.form_section
  %h2 Login Details
  
  = form_for(@user, :as => @user, :url => user_password_path, :html => { :method => :put }) do |f|
    .form_fields
      %p 
        = f.label :current_password
        = f.password_field :current_password

      %p 
        = f.label :password, "New password"
        = f.password_field :password

      %p 
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation

      %p 
        = button_tag "Update", class: :skip
