%ul.nav#global_nav

  %li.first
    %a{ href: root_path }
      = image_tag('nav-indicator.gif', :class => :current) if current_page  == :home
      = t('navigation.home')
  %li
    %a{ href: '/site/signs_of_life_radio' }
      = image_tag('nav-indicator.gif', :class => :current) if current_page  == :radio
      = t('navigation.global.signs_of_life_radio')
  %li
    %a{ href: events_path }
      = image_tag('nav-indicator.gif', :class => :current) if current_page  == :events
      = t('navigation.global.events')
  %li
    %a{ href: '/site/store' }
      = image_tag('nav-indicator.gif', :class => :current) if current_page  == :store
      = t('navigation.global.store')
  %li
    %a{ href: '/site/volunteers' }
      = image_tag('nav-indicator.gif', :class => :current) if current_page  == :volunteers
      = t('navigation.global.volunteers')
  %li.last
    %a{ href: '/site/contributions' }
      = image_tag('nav-indicator.gif', :class => :current) if current_page  == :contributions
      = t('navigation.global.contributions')

