%ul.nav#site_nav
  - if current_user and !current_user.biz? || !current_user.business.reg_complete?
    %li
      = link_to t('navigation.site.business_registration'), new_user_business_path(current_user)

  %li
    = link_to t('navigation.site.after_life_discussion_group'), '/site/after_life_discussion_group'
  %li.current
    = link_to t("navigation.site.certified_mediums"), '/site/certifed_mediums'
  %li
    = link_to t("navigation.site.signs_of_life_newsletter"), '/site/signs_of_life_newsletter'
  %li
    = link_to t("navigation.site.after_life_science"), '/site/after_life_science'
  %li
    = link_to t("navigation.site.grief_and_loss"), '/site/grief_and_loss'
  %li
    = link_to t("navigation.site.support_and_information"), '/site/support_and_information'
  %li
    =# link_to t("navigation.site.calendar_of_events"), events_path
  %li
    =# link_to t("navigation.site.registration"), new_account_path
