%ul.nav#site_nav
  - if !current_user.nil? and current_user.medium_registration
    %li
      = link_to "Medium Registration Form", new_mediumform_path, {style: "color:red;"}
  - if !current_user.nil? and current_user.sitter_registration
    %li
      = link_to "Sitter Registration Form", new_sitterform_path, {style: "color:red;"}
  - if current_user and !current_user.biz? || !current_user.business.registered?
    %li
      = link_to t('navigation.site.business_registration'), new_business_path, onclick: "business_membership_registration()"
  %li
    = link_to t('navigation.global.events'), events_path
  %li
    = link_to t('navigation.site.after_life_discussion_group'), '/site/after_life_discussion_group'
  %li
    = link_to t("navigation.site.after_life_science"), '/site/after_life_science'
  %li.current
    = link_to t('navigation.global.signs_of_life_radio'), '/site/signs_of_life_radio'
  %li
    = link_to t("navigation.site.signs_of_life_magazine"), '/site/signs_of_life_newsletter'
  %li
  %li
    = link_to t("navigation.site.conciousness_blogs"), '/site/conciousness_blogs'
  %li
    = link_to t("navigation.site.certified_mediums"), '/site/certified_mediums'
  %li
    = link_to t("navigation.site.grief_and_loss"), '/site/grief_and_loss'
  %li
    = link_to t("navigation.site.support_and_information"), '/site/support_and_information'
  %li
    = link_to t("navigation.Recommended_Books"), '/recommended_book'
  %li
  %li
    = link_to t('navigation.global.volunteers'), '/site/volunteers', onclick: "volunteer_email_click()"
  %li
    = link_to t('navigation.global.store'), '/site/store', onclick: "store_cart()"
  %li.last
    = link_to t('navigation.global.contributions'), '/site/contributions', onclick: "just_give_click()"
