<p id="notice"><%= notice %></p>

<h1>Listing Belief Types</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belief_types.each do |belief_type| %>
      <tr>
        <td><%= belief_type.id %></td>
        <td><%= belief_type.name %></td>
        <td><%= link_to 'Show', belief_type %></td>
        <td><%= link_to 'Edit', edit_belief_type_path(belief_type) %></td>
        <td><%= link_to 'Destroy', belief_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belief type', new_belief_type_path %>
