#footer
  %p= I18n.t('footers.fff_disclaimer')

  %ul#footer_nav
    %li
      %a{:href => '/site/after_life_discussion_group'}= t('navigation.site.afterlife_discussion_groups')
    %li
      %a{:href => '/site/certified_mediums'}= t('navigation.site.certified_mediums')
    %li
      %a{:href => '/site/signs_of_life_newsletter'}= t('navigation.site.signs_of_life_newsletter')
    %li
      %a{:href => '/site/after_life_science'}=t('navigation.site.afterlife_science')
    %li
      %a{:href => '/site/grief_and_loss'}= t('navigation.site.grief_and_loss')
    %li
      %a{:href => '/site/support_and_information'}= t('navigation.site.support_and_information')
    %li
      %a{:href => '/site/signs_of_life_radio'}= t('navigation.site.signs_of_life_radio')
    %li
      %a{:href => '/events'}= t('navigation.site.calendar_of_events')
    %li
      %a{:href => "/site/store"}= t('navigation.site.fff_store')
    %li
      %a{:href => '/site/volunteers', :onclick => "volunteer_email_click()"}= t('navigation.site.volunteers')
    %li
      %a{:href => '/site/contributions', :onclick => "just_give_click()"}= t('navigation.site.contributions')
    %li
      %a{:href => '/users/sign_up'}= t('navigation.site.registration')
    %li
      %a{:href => '/site/privacy'}= t('navigation.site.privacy_policy')
    %li
      %a{:href => '/site/terms'}= t('navigation.site.terms_of_use')
    %li
      %a{:href => '/site/contact', :onclick => "contact_email_click()"}= t('navigation.site.contact')
    %li.last
      %p= t('footers.copy_right')
#amzn-assoc-ad-24b27324-72e2-4be0-be23-01ada1876838
  %script (async src='//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=24b27324-72e2-4be0-be23-01ada1876838')

