!!! XML
!!!
%html{html_attrs}
  %head
    %title= t("site_name")
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'https://js.stripe.com/v1/'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ :name => "google-translate-customization", :content => "b94cd73d35ac1cf7-5f48ba43df447129-g0b6adef73063ddd6-27" }

