= favicon_link_tag(asset_path('fav/apple-icon-114x114.png'))
= favicon_link_tag(asset_path('fav/apple-icon-57x57.png'))
= favicon_link_tag(asset_path('fav/apple-icon-60x60.png'))
= favicon_link_tag(asset_path('fav/apple-icon-72x72.png'))
= favicon_link_tag(asset_path('fav/apple-icon-76x76.png'))
= favicon_link_tag(asset_path('fav/apple-icon-114x114.png'))
= favicon_link_tag(asset_path('fav/apple-icon-120x120.png'))
= favicon_link_tag(asset_path('fav/apple-icon-144x144.png'))
= favicon_link_tag(asset_path('fav/apple-icon-152x152.png'))
= favicon_link_tag(asset_path('fav/apple-icon-180x180.png'))
= favicon_link_tag(asset_path('fav/android-icon-192x192.png'))
= favicon_link_tag(asset_path('fav/favicon-32x32.png'))
= favicon_link_tag(asset_path('fav/favicon-96x96.png'))
= favicon_link_tag(asset_path('fav/favicon-16x16.png'))
= favicon_link_tag(asset_path('fav/ms-icon-144x144.png'))
