%nav.navbar.branding.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{ href: root_path }
    = image_tag 'header.jpg'

%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %ul.navbar-nav.ml-auto
    - if user_signed_in?
      %li.nav-item
        %a.nav-link{:href => "#"}
          = current_user.email
      %li.nav-item
        = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'
      %li.nav-item
        = link_to t("navigation.my_profile"), user_path(current_user), class: 'nav-link'
    - else
      %li.nav-item
        = link_to t("navigation.user.become_a_member"), new_user_registration_path, class: 'nav-link'
      %li.nav-item
        = link_to t("navigation.user.sign_in"), new_user_session_path, class: 'nav-link'
