= render 'layouts/header'

%body
  #layout
    #logo
    #container

      #sidebar
        = render 'shared/nav/user_nav'

        = render 'shared/nav/site_nav'

        = render 'shared/partners'

      #content

        = render 'shared/nav/global_nav'

        #content_main
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert

          %h1= @cms_page.title
          %h2= @cms_page.sub_title if !@cms_page.sub_title.blank?
          = yield if @cms_page.is_site_index?
          =blog @cms_page.body
          = yield if !@cms_page.is_site_index?

    #footer_spacer
  = render 'layouts/footer'