= render 'layouts/header'

%body
  #layout
    #logo
      %a{href: root_url}
    #container

      #sidebar
        = render 'shared/nav/user_nav'

        = render 'shared/nav/site_nav'

        = render 'shared/partners'

      #content

        = render 'shared/nav/global_nav'

        #content_main
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert

          - if !@cms_page.title.blank?
            %h1= @cms_page.title 
          - if !@cms_page.sub_title.blank?            
            %h2= @cms_page.sub_title 
          = yield if @cms_page.is_site_index?
          = blog @cms_page.body
          = yield if !@cms_page.is_site_index?

    #footer_spacer
  = render 'layouts/footer'